:root{
--clr-white: hsl(0, 0%, 100%);
--clr-slate-300: hsl(212, 45%, 89%);
--clr-slate-500: hsl(216, 15%, 48%);
--clr-slate-900: hsl(218, 44%, 22%);

--ff-regular: "Outfit", sans-serif;
--fs-regular: 15px;
--fs-headline:22px;
--fw-regular:400;
--fw-bold:700;

}

*, *::before, *::after {
  box-sizing: border-box;
}

*{
    margin:0;
     font:inherit;
}

img,svg{
    display:block;
    max-width:100%;
}


body{
    background-color:var(--clr-slate-300);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    
}

.mainCard{
    padding:16px;
    padding-bottom:40px;
    margin:auto;
    width:320px;
    max-height:50vh;
    display:flex;
    flex-direction:column;
    background-color:var(--clr-white);
    border-radius:20px;
    box-shadow:5px 5px 5px var(--clr-slate-500);
    gap:1rem;
}

.mainCard img{
    flex-shrink:1;
    min-height:0;
    width:100%;
    height:auto;
    border-radius:20px;
    object-fit: contain;
}

.textContainer{
    flex-shrink:0;
    text-align:center;
    font-family:var(--ff-regular);
    font-size: clamp(0.8rem, 1.5vw, 1.25rem); 
    line-height:1.5;
}

h1{
    font-weight:var(--fw-bold);
    font-size:var(--fs-headline);
    color:var(--clr-slate-900);
    margin-bottom:10px;
}

p{
    font-weight:var(--fw-regular);
    font-size:var(--fs-regular);
    color:var(--clr-slate-500);
}

.attribution { 
    font-size: 11px; text-align: center; 
   
      margin-top: auto; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
