:root{
--clr-white: hsl(0, 0%, 100%);
--clr-slate-300: hsl(212, 45%, 89%);
--clr-slate-500: hsl(216, 15%, 48%);
--clr-slate-900: hsl(218, 44%, 22%);

--ff-regular: "Outfit", sans-serif;
--fs-regular: 15px;
--fs-headline:22px;
--fw-regular:400;
--fw-bold:700;

}

*, *::before, *::after {
  box-sizing: border-box;
}

*{
    margin:0;
     font:inherit;
}

img,svg{
    display:block;
    max-width:100%;
}


body{
    background-color:var(--clr-slate-300);
    display:grid;
    place-items: center;
    height:100vh;
}

.mainCard{
    padding:16px;
    padding-bottom:40px;
    height:499px;
    width:320px;
    display:flex;
    flex-direction:column;
    background-color:var(--clr-white);
    border-radius:20px;
    box-shadow:5px 5px 5px var(--clr-slate-500);
}

.mainCard img{
    border-radius:20px;
    overflow:hidden;
    object-fit: cover;
    margin-bottom:24px;
}

.textContainer{
    text-align:center;
    font-family:var(--ff-regular);
    
    line-height:1.5;
}

h1{
    font-weight:var(--fw-bold);
    font-size:var(--fs-headline);
    color:var(--clr-slate-900);
    margin-bottom:10px;
}

p{
    font-weight:var(--fw-regular);
    font-size:var(--fs-regular);
    color:var(--clr-slate-500);
}

.attribution { 
    font-size: 11px; text-align: center; 
    position:absolute;
    bottom:5px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px){
    .mainCard{
        max-width:90vw;
    }
}